<div class="page-content bg-body">
    <div class="container bg-body container-full">
    	<div class="row">
			<div class="col-md-12">
				<div class="portlet box blue-dark">
	                <div class="portlet-title">
	                    <div class="caption">
	                        <i class="fa fa-gift"></i> THỐNG KÊ CÁC SẢN PHẨM </div>
	                    <div class="actions">
	                        <!-- <a class="btn btn-default btn-sm">
	                            <i class="fa fa-pencil"></i> Tải Lại </a> -->
	                        <a href="" class="btn btn-default btn-sm" ng-click="cl1()">
	                            <i class="fa fa-plus"></i> Tạo Sản Phẩm Mới </a>
                            
	                    </div>
	                </div>
	                <div class="portlet-body bg-body">
						<table ng-table="tableParamsProduct" class="table fadeInDown animated">
							<tr ng-repeat="p in tableDisplayProduct">
								<td class="rowTd  padding-right-0">
									<a type=button class="btn btn-outline btn-sm c-btn-border-1x c-btn-blue-dark" uib-tooltip="Thông tin chi tiết sản phẩm"
										ng-click="cl2(p)">
										<i class="fa fa-check" ng-if="s01==p.pro_id"></i>
										<i class="fa fa-circle-o" ng-if="s01!=p.pro_id"></i>
									</a>
								</td>
								<td class="center padding-right-0 padding-left-0"><img data-ng-src="data:image/png;base64,{{p.pro_thumnail}}" class="img-rounded" alt="" height="30"/></td>
								<td class="rowTd" data-title="'Tên sản Phẩm'"   sortable="'pro_name'">{{p.pro_name}}</td>
								<td class="center" data-title="'Tổng lô hàng'"   sortable="'pro_battotal'">{{p.pro_batchtotal}}</td>
								<td class="center" data-title="'Đã bán / Tổng SP'"   sortable="'pro_itetotal'"> {{p.pro_itemsold}} / {{p.pro_itemtotal}}
								
								</td>
								<td class="rowTd" data-title="'rating'"   sortable="'pro_name'">
									<div ng-init="x = 3">
										<uib-rating ng-model="x" max="5" state-on="'fa fa-star text-yellow text-extra-large margin-right-5'" state-off="'fa fa-star-o text-large margin-right-5'"></uib-rating>											
									</div>
								</td>
								<td class="rowTd" data-title="'trạng thái'"   sortable="'pro_name'">
									<div ng-if="p.pro_status == 0">
						          		<span class="label label-sm label-default">Chưa sản xuất</span>									          		
							    	</div>
							    	<div ng-if="p.pro_status == 1">
						          		<span class="label label-sm label-success">Đang sản xuất</span>									          		
							    	</div>
							    	<div ng-if="p.pro_status == 2">
						          		<span class="label label-sm label-danger">Tạm dừng sản xuất</span>									          		
							    	</div>
							    	<div ng-if="p.pro_status == 3">
						          		<span class="label label-sm label-info">Dừng sản xuất</span>									          		
							    	</div>
								</td>
							</tr>
						</table>
	                </div>
				</div>
			</div>
		</div>
		<div class="row" ng-show="bl1">
			<div class="col-md-8 ">
	            <!-- BEGIN Portlet PORTLET-->
	            <div class="portlet box blue-dark">
	                <div class="portlet-title">
	                    <div class="caption">
	                        <i class="fa fa-gift"></i> {{s0.pro_name}} </div>
	                    <div class="actions">
	                        <a href="" class="btn btn-default btn-sm" ng-click="cl3(s0)">
	                            <i class="fa fa-pencil"></i> 
	                            Sửa Đổi Thông Tin	                             
                            </a>
                            
	                    </div>
	                </div>
	                <div class="portlet-body bg-body">
	                    <uib-tabset class="tabbable no-padding no-margin">
							<uib-tab heading="Biểu đồ thống kê" class="padding-top-5">
								<div class="row">
									<div class="col-md-4 col-xs-4 center">
										<img class="img-responsive" data-ng-src="data:image/jpeg;base64,{{pro_picture12}}" alt="">
									</div>
									<div class="col-md-8 col-xs-8">
										<p ng-bind-html="s0.pro_detail"></p>
										<blockquote>
											<footer>
												Từ khóa tìm kiếm: <cite title="Source Title">{{s0.pro_tag}}</cite>
											</footer>
											<footer>
												Link hướng dẫn sử dụng: <cite title="Source Title"><a href="#">{{s0.pro_manuallink}}</a></cite>
											</footer>
										</blockquote>
										<button class="btn btn-primary btn-block" ng-click="clickUpdateForm(modelSelectedProduct)" ng-if="(modelCompany.mem_type <= 2)">
											Sửa đổi thông tin
										</button>
									</div>
								</div>								
							</uib-tab>
							<uib-tab heading="Lịch sử truy cập" class="padding-top-5">
								<div class="row">
	                                <div class="col-md-12">
										                                 
	                                </div>
	                            </div>
							</uib-tab>
						</uib-tabset>
	                </div>
	            </div>
	            <!-- END Portlet PORTLET-->
	        </div>
			<div class="col-md-4 ">
	            <!-- BEGIN Portlet PORTLET-->
	            <div class="portlet box blue-dark">
	                <div class="portlet-title">
	                    <div class="caption">
	                        <i class="fa fa-pie-chart"></i> Thống Kê Các Dòng Sản Phẩm 
                        </div>
	                </div>
	                <div class="portlet-body">
	                    
	                </div>
	            </div>
	            <!-- END Portlet PORTLET-->
	        </div>
		</div>
    </div>
</div>
<div class="modal fade" id="md0" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-lg">
    	<div class="modal-content">
        	<div class="modal-header bg-blue-dark bg-font-blue-dark">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            	<h4 class="modal-title"> Điền Thông Tin Về Sản Phẩm Mới</h4>
        	</div>
        	<div class="modal-body font-blue-dark">
            	<div class="portlet light no-padding">
                	<div class="portlet-body form">
                    	<form role="form" ng-submit="cl11(m1, m2, 0, m5, m3, m4, i11.croppedImage, i110.croppedImage, m51)">
                        	<div class="form-group">
                            	<label>Tên sản phẩm mới:</label>
                            	<div class="input-group">
                                	<span class="input-group-addon">
                                    	<i class="fa fa-font"></i>
                                	</span>
                                	<input type="text" class="form-control" ng-model="m1"> 
                            	</div>
                        	</div>
                        	<div class="row">
                            	<div class="col-md-7">                                                    		
                                	<div class="form-group">
                                    	<label>Tag sản phẩm (các từ khóa tìm kiếm):</label>
                                  		<div class="input-group">
                                       		<span class="input-group-addon">
                                       			<i class="fa fa-font"></i>
                                           	</span>
                                          		<input type="text" class="form-control" ng-model="m2"> 
                                    	</div>
                                	</div>
                               	</div>
                           		<div class="col-md-5"> 
                             		<div class="form-group">
                                  		<label>Trạng thái sản xuất:</label>
                               			<div class="input-group">
                                     		<span class="input-group-addon">
                                          		<i class="fa fa-list"></i>
                                         	</span>
                                        	<select id="single" class="form-control select2"
						                		ng-options="i.l for i in o1" ng-model="m3">
						                    	<option></option>	                    
					                		</select>
                                      	</div>
                                  	</div>
                               	</div>
                        	</div>	
                            <div class="form-group">
                                <label>Link hướng dẫn sử dụng:</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </span>
                                    <input type="text" class="form-control" ng-model="m4"> 
                            	</div>
                            </div>
                            <div class="form-group">
                                <label>Thông tin chi tiết sản phẩm mới:</label>
                            	<div text-angular ng-model="m5" name="modelProductDetail" required></div>	                                                        
                            </div>	                                                    
                            <div class="form-group">
                                <label>Thông tin mô tả nội bộ (được ẩn với khách hàng):</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </span>
                                    <textarea type="text" class="form-control" ng-model="m51"></textarea> 
                            	</div>
                            </div>
                            <div class="form-group">
                                <label>Lựa chọn ảnh đại diện của sản phẩm:</label>
                            	<input type="file" img-cropper-fileread image="i11.sourceImage" class="form-control"/>
                            </div>
		        			<div class="row" ng-show="i11.croppedImage!=null">
                               	<div class="col-md-6">
						    		<canvas width="300" height="300" id="canvas" image-cropper image="i11.sourceImage" cropped-image="i11.croppedImage" 
						             	crop-width="300" crop-height="300" keep-aspect="true" crop-area-bounds="i12"></canvas>
						    		<canvas width="50" height="50" id="canvas" image-cropper image="i11.croppedImage" cropped-image="i110.croppedImage" 
						             	crop-width="50" crop-height="50" keep-aspect="true" ng-show="false"></canvas>
                               	</div>
                            	<div class="col-md-6">
                            		<img ng-src="{{i11.croppedImage}}" />
                            		<img ng-src="{{i110.croppedImage}}" />
                          		</div>
			        		</div>
			                <button type="button" data-dismiss="modal" class="btn dark">Hủy bỏ</button>
			                <button type="submit" class="btn green" >Tạo Mới</button>
                     	</form>
                   	</div>
              	</div>
           	</div>
      	</div>
  	</div>
</div>
<div class="modal fade" id="md1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	        <div class="modal-header bg-blue-dark bg-font-blue-dark">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	            <h4 class="modal-title"> Sửa Đổi Thông Tin Về Sản Phẩm</h4>
	        </div>
            <div class="modal-body font-blue-dark">
                <div class="portlet light no-padding">
                 <div class="portlet-body form">
                     <form role="form">
                            <div class="form-group">
                                <label>Tên sản phẩm mới:</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </span>
                                    <input type="text" class="form-control" ng-model="mu1"> 
                                   </div>
                            </div>
                            <div class="row">
                            	<div class="col-md-7">                                                    		
                              		<div class="form-group">
                                  		<label>Tag sản phẩm (các từ khóa tìm kiếm):</label>
                                  		<div class="input-group">
                                      		<span class="input-group-addon">
                                          		<i class="fa fa-font"></i>
                                      		</span>
                                      		<input type="text" class="form-control" ng-model="mu2"> 
                                     	</div>
                              		</div>
                             	</div>
                            	<div class="col-md-5"> 
                                    <div class="form-group">
                                        <label>Trạng thái sản xuất:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-list"></i>
                                            </span>
                                            <select id="single" class="form-control select2" ng-options="i.l for i in o1" ng-model="mu3">
               									<option></option>	                    
           									</select>
                                        </div>
                                  	</div>
                             	</div>
                        	</div>	
                            <div class="form-group">
                                <label>Link hướng dẫn sử dụng:</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </span>
                                    <input type="text" class="form-control" ng-model="mu4"> 
                                   </div>
                            </div>
                            <div class="form-group">
                                <label>Thông tin chi tiết sản phẩm:</label>
                                   <div text-angular ng-model="mu5" name="nu5" required></div>	                                                        
                            </div>
                            <div class="form-group">
                                <label>Thông tin mô tả nội bộ (được ẩn với khách hàng):</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </span>
                                    <textarea type="text" class="form-control" ng-model="mu51"></textarea> 
                            	</div>
                            </div>
                            <div class="form-group">
                                <label>Thay đổi ảnh đại diện khác:</label>
                            	<input type="file" img-cropper-fileread image="mu7.sourceImage" class="form-control"/>
                            </div>
                                 <img class="img-responsive" data-ng-src="data:image/jpeg;base64,{{mu6}}" alt="" ng-hide="mu7.croppedImage!=null">
							<div class="row" ng-show="mu7.croppedImage!=null">
                           		<div class="col-md-6">
   									<canvas width="60" height="60" id="canvas" image-cropper image="mu7.sourceImage" cropped-image="mu7.croppedImage" 
   										crop-width="55" crop-height="55" keep-aspect="true" crop-area-bounds="i22"></canvas>
   									<canvas width="50" height="50" id="canvas" image-cropper image="mu7.croppedImage" cropped-image="mu71.croppedImage" 
						             	crop-width="50" crop-height="50" keep-aspect="true" ng-show="false"></canvas>
                               	</div>
                               	<div class="col-md-6">
                            		<img ng-src="{{mu7.croppedImage}}" />
                            		<img ng-src="{{mu71.croppedImage}}" />
                          		</div>
							</div>
		            	</form>
                	</div>
            	</div>
          	</div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Hủy</button>
                <button type="button" class="btn green" ng-click="cl32(mu0, mu1, mu2, mu3, mu4, mu5, mu51, mu7.croppedImage , mu71.croppedImage)">Cập Nhật</button>
                <button type="button" class="btn red" data-toggle="modal" data-target="#md11">Xóa Sản Phẩm</button>
    		</div>
		</div>
	</div>
</div>
<div class="modal fade" id="md11" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
	    <div class="modal-content">
	        <div class="modal-header bg-blue-dark bg-font-blue-dark">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	            <h4 class="modal-title"> Xác Nhận Xóa Sản Phẩm</h4>
	        </div>
	        <div class="modal-body font-blue-dark">
	            <button type="button" data-dismiss="modal" class="btn dark">Hủy</button>
	            <button type="button" class="btn red pull-right" ng-click="cl31(s01)">Xóa Sản Phẩm</button>
	        </div>
	    </div>
  	</div>
</div>